spring:
  application:
    name: wsdemo

  datasource:
    url: jdbc:postgresql://postgres:5432/leaderboard_db
    username: leaderboard
    password: leaderboard_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  data:
    redis:
      host: redis
      port: 6379

  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: leaderboard-group
      max-poll-records: 500
      enable-auto-commit: false
      auto-offset-reset: earliest
    properties:
      schema.registry.url: http://schema-registry:8081

server:
  port: 8000

logging:
  level:
    com.pms.leaderboard: DEBUG
    com.pms.leaderboard.services: INFO
