spring:
  application:
    name: wsdemo

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  data:
    redis:
      sentinel:
        master: ${REDIS_HOST}
        nodes: ${REDIS_SENTINEL_NODES}
      lettuce:
        read-from: ${REDIS_READ_FROM:REPLICA_PREFERRED}
        # cluster:
        #   refresh:
        #     adaptive: true
        #     period: 5s
      timeout: ${REDIS_TIMEOUT:10s}

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    admin:
      auto-create: true
      fail-fast: false
    producer:
      properties:
        schema.registry.url: ${SCHEMA_REGISTRY_URL}
        auto.register.schemas: true
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID}
      max-poll-records: ${KAFKA_CONSUMER_MAX_POLL_RECORDS}
      enable-auto-commit: ${KAFKA_CONSUMER_ENABLE_AUTO_COMMIT}
      auto-offset-reset: ${KAFKA_CONSUMER_AUTO_OFFSET_RESET}
      properties:
        allow.auto.create.topics: true
    properties:
      schema.registry.url: ${SCHEMA_REGISTRY_URL}
      auto.register.schemas: false

server:
  port: ${SERVER_PORT:8000}

logging:
  level:
    root: DEBUG # show all logs
    com.pms.leaderboard: DEBUG # your package logs
  pattern:
    console: "%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"

# App-specific Kafka configuration
app:
  kafka:
    risk-topic: ${KAFKA_RISK_TOPIC:portfolio-risk-metrics}
