spring:
  application:
    name: wsdemo

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  data:
    redis:
      sentinel:
        master: ${REDIS_MASTER}
        nodes: ${REDIS_SENTINEL_NODES}
      lettuce:
        read-from: ${REDIS_READ_FROM:REPLICA_PREFERRED}
        # cluster:
        #   refresh:
        #     adaptive: true
        #     period: 5s
      timeout: ${REDIS_TIMEOUT:10s}

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID}
      max-poll-records: ${KAFKA_CONSUMER_MAX_POLL_RECORDS}
      enable-auto-commit: ${KAFKA_CONSUMER_ENABLE_AUTO_COMMIT}
      auto-offset-reset: ${KAFKA_CONSUMER_AUTO_OFFSET_RESET}
    properties:
      schema.registry.url: ${KAFKA_SCHEMA_REGISTRY_URL}

server:
  port: ${SERVER_PORT:8000}

  logging:
  level:
    root: DEBUG                     # show all logs
    com.pms.leaderboard: DEBUG      # your package logs
  pattern:
    console: "%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"
